<body background="https://us.123rf.com/450wm/markovka/markovka1401/markovka140101185/25326347-seamless-wave-hand-drawn-pattern-waves-background-seamlessly-tiling-can-be-used-for-wallpaper-patter.jpg?ver=6">

  <style>
    .button {
       display: inline-block;
       color: white;
       background: transparent;
       border: none;
       padding: 12px 24px;
       text-align: center;
       font-size: 25px;
       cursor: pointer;
       text-transform: uppercase;
        }

    .button:hover {
        background-color: orange;
        color: white;
         }
  </style>

  <style>
    .select-items {
      color: white;
      background: none;
      border: 1px solid transparent;
      border-color: white;
      padding: 12px 24px;
      font-size: 25px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
       }
  </style>

<div style="font-family:chalkboard; color:white">
<center>
<h1>
  <%= "Welcome #{@name}, lets play Rock, Paper, Scissors!" %>
  <div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
  <form action="/play" method="post">
    <label for="move">
      What move would you like to do?
    </label>
    <select name="move" class="select-items">
    	<option value="Rock">Rock</option>
    	<option value="Paper">Paper</option>
    	<option value="Scissors">Scissors</option>
      <input type="submit" value="Play" class="button">
  </form>
    <%= "Game count: #{@game_count}" %><br />
    <%= "#{@name} wins: #{@win_count}" %><br />
    <%= "Computer wins: #{@lose_count}" %><br />
    <%= "Draw count: #{@draw_count}" %>
  </h1>
</center>
